<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>About</title>

  <!-- Bootstrap core CSS -->
  <link href="/stylesheets/style.css" rel="stylesheet">
  <link href="/stylesheets/top-nav.css" rel="stylesheet">

</head>

<body>

  <script src='/javascripts/sidebar.js'></script>

  <div class="d-flex" id="wrapper">
    <div id="page-content-wrapper">
      <div class="container-fluid">
        <div class="header" id="header"> 
          <div class=title_box>
            <p class="title" id="header-title"> About the Project </p>
          </div>

          <p>This is placeholder text.</p>

        </div>

      </div>
    </div>
    <!-- /#page-content-wrapper -->

  </div>
  <!-- /#wrapper -->

  <!-- Bootstrap core JavaScript -->
  <script src="https://momentjs.com/downloads/moment.min.js"></script>
  <script src="/javascripts/jquery.min.js"></script>
  <script src='/javascripts/jsonCustomDisplayer.js'></script>
  <script src='/javascripts/displayInfo.js'></script>
  <script src="https://kit.fontawesome.com/a9b1673cea.js" crossorigin="anonymous"></script>

</body>

</html>
