//- doctype html
//- head
//-   meta(charset='utf-8')
//-   meta(name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no')
//-   meta(name='description' content='')
//-   title Recent
//-   // Bootstrap core CSS
//-   link(href='/stylesheets/style.css' rel='stylesheet')
//-   link(href='/stylesheets/top-nav.css' rel='stylesheet')
//-   link(href='/stylesheets/cards.css' rel='stylesheet')
//- script(src='/javascripts/sidebar.js')

extends cocktail

block content

  #wrapper.d-flex
    // Page Content
    #page-content-wrapper
      .container-fluid
        #padding
          #cards  
          
    // /#page-content-wrapper
  // /#wrapper
  // Bootstrap core JavaScript

//- script(src='https://momentjs.com/downloads/moment.min.js')
//- script(src='/javascripts/jquery.min.js')
//- script(src='/javascripts/searchDisplay.js')
//- script(src='/javascripts/displayInfo.js')
//- script(src='https://kit.fontawesome.com/a9b1673cea.js' crossorigin='anonymous')
